<% layout('layout') %>

<script type="text/javascript">

var info = function ( msg )
{
    try
    {
        msg = JSON.parse(msg);
        document.getElementById("info").innerHTML += CreateTableView(msg) + "\n";
    }
    catch(e)
    {
        if ( msg.indexOf("chrome.tabs") != -1 ) return false;

        document.getElementById("info").innerHTML += msg + "\n";
    }

    return false;
};

console.log = function() { info.apply(this,arguments); };

function CreateTableView(objArray, theme, enableHeader) {
    // set optional theme parameter
    if (theme === undefined) {
        theme = 'mediumTable'; //default theme
    }

    if (enableHeader === undefined) {
        enableHeader = true; //default enable headers
    }

    // If the returned data is an object do nothing, else try to parse
    var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;

    var str = '<table class="' + theme + '">';

    // table head
    if (enableHeader) {
        str += '<thead><tr>';
        for (var index in array[0]) {
            str += '<th scope="col">' + index + '</th>';
        }
        str += '</tr></thead>';
    }

    // table body
    str += '<tbody>';
    for (var i = 0; i < array.length; i++) {
        str += (i % 2 == 0) ? '<tr class="alt">' : '<tr>';
        for (var index in array[i]) {
            str += '<td>' + array[i][index] + '</td>';
        }
        str += '</tr>';
    }
    str += '</tbody>'
    str += '</table>';
    return str;
}

// This function creates a details view table with column 1 as the header and column 2 as the details
// Parameter Information
// objArray = Anytype of object array, like JSON results
// theme (optional) = A css class to add to the table (e.g. <table class="<theme>">
// enableHeader (optional) = Controls if you want to hide/show, default is show
function CreateDetailView(objArray, theme, enableHeader) {
    // set optional theme parameter
    if (theme === undefined) {
        theme = 'mediumTable';  //default theme
    }

    if (enableHeader === undefined) {
        enableHeader = true; //default enable headers
    }

    // If the returned data is an object do nothing, else try to parse
    var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;

    var str = '<table class="' + theme + '">';
    str += '<tbody>';

    for (var i = 0; i < array.length; i++) {
        var row = 0;
        for (var index in array[i]) {
            str += (row % 2 == 0) ? '<tr class="alt">' : '<tr>';

            if (enableHeader) {
                str += '<th scope="row">' + index + '</th>';
            }

            str += '<td>' + array[i][index] + '</td>';
            str += '</tr>';
            row++;
        }
    }
    str += '</tbody>'
    str += '</table>';
    return str;
}


// dwt.namespace ( 'dwt.anywhere' );
dwt = {};
dwt.util = {};
dwt.util.uuid = function ()
{
    return "UUID";
}
dwt.anywhere = {};
websocket = null;
wsUri = "ws://"+ TRADERO.hostname +":"+ TRADERO.rpc_port;
data = false;
connected = false;
respChecks = new Array();
intChecks = new Array();
/*
var websocket = new WebSocket(wsUri);
websocket.onopen = function (evt) {
    console.log("CONNECTED");

    websocket.send('test 1');
    websocket.send('test 2');
};
websocket.onclose = function (evt) {
    console.log ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );
};
websocket.onmessage = function (evt) {
    console.log('>>',evt.data);
};
websocket.onerror = function (evt) {
    console.log ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );
};*/

/*
dwt.anywhere.rpc = function ( url, callback, spec, spec2 )
{
    function initWebsocket() {
        if ( websocket != null )
        {
            connected = true;
            return;
        }
        try {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                // debug("CONNECTED");
                connected = true;
            };
            websocket.onclose = function (evt) {
                // debug("DISCONNECTED");
                console.log ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );
            };
            websocket.onmessage = function (evt) {
                console.log(evt.data);
                data = evt.data;
                if ( evt.data ) { callback.call(evt.data,evt.data); }
                // console.log ( data );
            };
            websocket.onerror = function (evt) {
                // debug('ERROR: ' + evt.data);
                console.log ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );
            };
        } catch (exception) {
            debug('ERROR: ' + evt.data);
            alert('<span style="color: red;">ERROR:</span> ' + evt.data);
        }
    };

    if ( connected == false ) initWebsocket();

    var uuid = dwt.util.uuid();

    var respCheck = setInterval(function()
    {
        if ( connected == true )
        {
            if ( typeof spec != 'undefined' )
            {
                websocket.send( spec );
            }
            else
            {
                websocket.send( '{"context":"fetch","url":"'+url+'"}' );
            }

            clearInterval ( respChecks[uuid] );
        }

    }, 10);

    respChecks[uuid] = respCheck;

    var intCheck = setInterval(function()
    {
        if ( data != false )
        {
            if ( typeof spec2 != 'undefined' )
            {
                callback.call( data.trim(), data.trim(), spec2 );
            }
            else
            {
                callback.call( data.trim(), data.trim() );
            }

            data = false;

            clearInterval ( intChecks[uuid] );
        }
    }, 10);

    intChecks[uuid] = intCheck;

    return true;
}
*/


connected = false;
watcher   = false;

dwt.anywhere.rpc = function ( spec, callback )
{
    var self = this;
    this.queue = new Array;
    this.pushs = new Array;

    function initWebsocket()
    {
        try {
            websocket = new WebSocket(wsUri);
            websocket.onopen = function (evt) {
                info ( '[Connected] Tradero Anywhere is up and running...' );
                connected = true;
                self.push.apply(websocket);
            };
            websocket.onclose = function (evt) {

                connected = false;

                if ( watcher == false )
                {
                    info ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );

                    watcher = setInterval ( function ()
                    {
                        if ( connected == true )
                        {
                            clearInterval(watcher);
                            watcher = false;
                        }
                        else
                        {
                            initWebsocket();
                        }
                    },
                    2000 );
                }
            };
            websocket.onmessage = function (evt)
            {
                info(evt.data);
            };
            websocket.onerror = function (evt) {
                info ( '[Disconnected] Tradero Anywhere doesn\'t seem to running...' );
            };

            return true;
        } catch (exception) {
            info('ERROR: ' + evt.data);
            alert('<span style="color: red;">ERROR:</span> ' + evt.data);
            return false;
        }
    };

    if ( connected == false )
    {
        initWebsocket();
    }

    this.send = function ( data )
    {
        if ( connected == true )
        {
            // console.log ( "direct..." );
            websocket.send ( data );
        }
        else
        {
            // console.log ( "queuing..." );
            self.queue.push ( data );
        }

        return true;
    };

    this.push = function ()
    {
        if ( self.queue.length > 0 )
        {
            for ( var i = 0; i < self.queue.length; i ++ )
            {
                var tmp = self.queue[i];

                websocket.send ( tmp );

                delete self.queue[i];
            }
        }
    };
};

var rpc = new dwt.anywhere.rpc;

function sql( query )
{
    rpc.send ( '{"context":"plugin","call":"sql.bat","params":"'+ query +'"}' );
    return true;
}

function notify ( title, msg )
{
    rpc.send ( '{"context":"notify","title":"'+ title +'","message":"'+ msg +'"}' );
    return true;
}

/* <<<<<<<<<<<<<<
rpc.send ( '{"id":"'+ dwt.util.uuid() +'","context":"menu","action":"clean"}' );
rpc.send ( '{"id":"'+ dwt.util.uuid() +'","context":"menu","action":"Continous Integration","handle":"a1","params":"release"}' );
rpc.send ( '{"id":"'+ dwt.util.uuid() +'","context":"menu","action":"Knowledge Base","handle":"a2","params":"release"}' );
rpc.send ( '{"id":"'+ dwt.util.uuid() +'","context":"menu","action":"Deployment","handle":"a3","params":"release"}' );
rpc.send ( '{"id":"'+ dwt.util.uuid() +'","context":"menu","action":"Management 1","handle":"a4","params":"release"}' );

// rpc.send ( '{"context":"notify","title":"Tradero Menu Updater","message":"Your TAnywhere menu was updated..."}' );

rpc.send ( '{"context":"plugin","call":"foo.bat","params":""}' );
// rpc.send ( '{"context":"plugin","call":"foo.bat","params":"release"}' );
rpc.send ( '{"context":"api","url":"http://$TRADERO.hostname:$TRADERO.http_port/window.html"}' );

cbk = function ( data, spec )
{
    try
    {
        var data = JSON.parse(data);
        for ( var i = 0; i < data.length; i ++ )
        {
            if ( typeof spec != 'undefined' && typeof spec.fields != 'undefined' )
            {
                var fields = spec.fields;
                for ( var j = 0; j < fields.length; j ++ )
                {
                    console.log ( "\t", spec.fields[j], data[i][spec.fields[j]] );
                }
                console.log ( '-----------------------------------' );
            }
            else
            {
                console.log ( data[i] );
            }
        }
    }
    catch (err)
    {
        console.log ( data, ' / NOT PARSED' );
        // alert ( data );
    }
}
>>>>>>>>>>>> */



/*
// dwt.anywhere.rpc ( 'http://ifconfig.me/ip', cbk );
// dwt.anywhere.rpc ( 'http://ifconfig.me/ua', cbk, '{"context":"sql","query":"select * from text_users"}' );
dwt.anywhere.rpc ( 'http://ifconfig.me/ua', cbk, '{"context":"plugin","call":"test.bat","params":"select * from scm_repositories"}' );

dwt.anywhere.sql = function ( query, spec )
{
    return dwt.anywhere.rpc ( 'http://ifconfig.me/ua', cbk, '{"context":"plugin","call":"test.bat","params":"'+ query +'"}', spec );
}

dwt.anywhere.notify = function ( title, message )
{
    return dwt.anywhere.rpc ( 'http://ifconfig.me/ua', cbk, '{"context":"notify","title":"'+ title +'","message":"'+ message +'"}' );
}

dwt.anywhere.rpc ( '',cbk,'{"context":"menu","action":"clean"}' );
alert("s");
dwt.anywhere.rpc ( '',cbk,'{"context":"menu","action":"Continous Integration","params":"release"}' );
alert("s");
dwt.anywhere.rpc ( '',cbk,'{"context":"menu","action":"Knowledge Base","params":"release"}' );
alert("s");
dwt.anywhere.rpc ( '',cbk,'{"context":"menu","action":"Deployment","params":"release"}' );
alert("s");
dwt.anywhere.rpc ( '',cbk,'{"context":"menu","action":"Management","params":"release"}' );
*/
</script>

<div id="content" class="content fixed">
<div id="sidebar-menu" class="right fixed">
<div class="buttons">
<a class="button left" href='javascript:void(function(){ var ws=new WebSocket("ws://anywhere.lan:81");ws.onopen=function(){ var url=document.getElementsByTagName('embed')[prompt("Numer playera:",0)].src;url=url.replace(/image=.*?&/,'');console.log(url);ws.send('{"context":"api","title":"TAnywhere Player","url":"'+url+'","border":1,"ontop":1,"id":"'+prompt("id:","fm")+'"}'); };})();' onclick='alert("Bookmarkleta wywolujemy z paska ulubionych! Przeciagnij mnie tam...");return false;'>TAnywhere Player</a><a class="button right" href='javascript:void(function(){ var ws=new WebSocket("ws://anywhere.lan:81");ws.onopen=function(){ ws.send('{"context":"api","title":"TAnywhere Player","url":"'+document.location.href+'","border":1,"ontop":1,"id":"'+prompt("id:","aw")+'"}'); };})();'>TAnywhere</a>
</div>
<!--<ul id="categories"></ul>-->
</div>
<h2 class="dark">RPC Console</h2>
<hr/>
<h2 class="light" id="category"></h2>

<a id="bookmark-cleanup" href="javascript:void(0);" class="button">TWindow</a>
<a id="bookmark-sync" href="javascript:void(function(){ notify('TAnywhere Notification', prompt('Enter your message:','Default message...')); }());" class="button">TNotify</a>
<a id="bookmark-add" href="javascript:void(0);" class="button">TTraySubMenu</a>

<input id="bookmarks-filter" type="text" onkeyup="filter(this);" style="float: right; margin-right: 10px;"/><br/><br/>
<pre id="info" style="background-color: #484848; color: #fefefe; padding: 9px; overflow: auto; width: 873px;"></pre>
<br/><br/>
<br/><br/>
</div>

<script type="text/javascript">

// broadcast.anywhere.lan

if ( typeof TRADERO != "undefined" )
{
    info( "TAnywhere support: OK\n" );

    info( "RPC Host: " + TRADERO.rpc_host );
    info( "RPC Port: " + TRADERO.rpc_port );
    info( "Http Host: " + TRADERO.http_host );
    info( "Http Port: " + TRADERO.http_port );

    info( "\nHostname: " + TRADERO.hostname );
    info( "----\n" );
}
else
{
    info( "TAnywhere support: Missing" );
}

window.onerror = info;

</script>
